{% extends "base.html" %}

{% block content %}

    <h1 class="align-self-center">2024 years Goals</h1>
<!--    {{ record_list }}-->
<div class="overflow-x-scroll">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Discipline</th>
                <th>Goal Record</th>
                <th>Current Record</th>
                <th>Athlete(Year Birth)</th>
                <th>Venue</th>
                <th>Date</th>

            </tr>
        </thead>
        {% for object in goal_list %}
        <tr>
            <th> {{ object.discipline.name }} </th>
            <th> {{ object.formatted_performance }}</th>
            <th> {{ object.formatted_current_record }}</th>
            <th><a href="/goals/{{object.pk}}">{{ object.athlete.full_name_with_birthyear }}</a></th>
            <th> {{ object.venue }}</th>
            <th> {{ object.goal_date }}</th>
        </tr>
        {% endfor %}
    </table>
</div>

<!--    {% for object in record_list %}-->
<!--    <li><a href="/records/{{object.pk}}">{{ object }}</a>  </li>-->
<!--    {% endfor %}-->

<h5>Add your 2024 Track and Field goals. If you dare...</h5>
    <a href="/goals/create">Add new Goal</a>

{% endblock %}