{% extends "base.html" %}

{% block content %}

 <!--
            <form class="d-flex my-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
           -->
           <h1 class="align-self-center">A.O. Olimpiada Kifisias E.O.K.A. Records</h1>
           <!--    {{ record_list }}-->

        <form id="filter-form" method="get">
            <div class="d-flex flex-wrap justify-content-around">
                <div class="d-inline">
                    <p class="fw-bold">Indoors/Outdoors:</p>
                    {{ filter_form.indoors_outdoors }}
                 </div>
                <div class="d-inline">
                    <p class="fw-bold">Age Group:</p>
                    {{ filter_form.age_group }}
                </div>
            </div>
        </form>

         <div class="overflow-x-scroll">

         <table class="table table-striped">
         <thead>
             <tr>
                <th>Discipline</th>
                <th>Age Group</th>
                <th>Progression</th>
                <th>Performance</th>
                <th>Wind</th>
                <th>Holder(Birth Year)</th>
                <th><a href="https://caltaf.com/pointscalc/calc.html">Ranking</a></th>
                <th>Venue</th>
                <th>Date</th>
 
             </tr>
         </thead>
         {% for object in record_list %}
         <tr>
              <th> {{ object.discipline.name }} </th>
              <th> {{ object.age_group }}</th>
              <th> {{ object.progression }}</th>
              <th> {{ object.formatted_performance }}</th>
              <th>{{ object.get_wind_display }}</th>
              <th>{{ object.holder.full_name_with_birthyear }}</th> <!--<a href="/records/{{object.pk}}">}</a>-->
              <th> {{ object.get_ranking_display }}</th>
              <th> {{ object.venue }}</th>
              <th> {{ object.record_date }}</th>
         </tr>
         {% endfor %}
     </table>
  </div>
 
 <!--    {% for object in record_list %}-->
 <!--    <li><a href="/records/{{object.pk}}">{{ object }}</a>  </li>-->
 <!--    {% endfor %}-->
 
        <h4>To add a new record Click the following </h4>
        <a href="/records/create">Add new Record</a>

        <h6>Tip:To find your record's ranking click 'Ranking' on records table.</h6>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const radios = document.querySelectorAll('input[name="indoors_outdoors"], input[name="age_group"]');
      radios.forEach(radio => {
        radio.addEventListener('change', function() {
          document.getElementById('filter-form').submit();
        });
      });
    });
  </script>

{% endblock %}